<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th>Total Price</th>
        </tr>
      </thead>
      <% @order.line_items.each do |line_item| %>
      <tbody>
        <tr>
          <td>
            <h4><%= line_item.product.name %></h4>
            <p><%= line_item.product.description %></p>
            <br>
          </td>
          <td>
            <%= line_item.quantity %>
          </td>
          <td>
            <%= humanized_money_with_symbol line_item.total_price %>
          </td>
        </tr>
        <% end %>

        <tr>
        <td></td>
        <td></td>
          <td>
                <h4>Order Total: <%= humanized_money_with_symbol @order.total %></h4>    
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  </body>
</html>